/* use with: darkmode-toggle.html */
/* use with: darkmode-toggle.js */

:root {
  --light-style: #f5f5f5;
  --dark-style: #181818;
  --background: var(--light-style);
  --color: var(--dark-style);
}

body {
  background-color: var(--light-style);
  color: var(--dark-style);
}

.darkmode {
  background-color: var(--dark-style);
  color: var(--light-style);
}
