/* use newer method when browser support is available: https://caniuse.com/mdn-css_properties_aspect-ratio */

/*
1:1 aspect ratio = 1 / 1 = 1 = padding-top: 100%
4:3 aspect ratio = 3 / 4 = 0.75 = padding-top: 75%
3:2 aspect ratio = 2 / 3 = 0.66666 = padding-top: 66.67%
16:9 aspect ratio = 9 / 16 = 0.5625 = padding-top: 56.25%
*/

.image-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  width: 100%;
}

img {
  position: absolute;
  top: 0;
}
