// example usage
.element {
  box-shadow: multiple-box-shadow(2000);
}

// random box shadow values generator
@function multiple-box-shadow ($n) {
  $value: '#{random(3000)}px #{random(3000)}px #fff';

  @for $i from 1 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #fff';
  }

  @return unquote($value);
}
