.element {
  /* shorthand */
  animation: blink 0.25s ease-in-out 2;

  /* longhand */
  animation-name: blink;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
